.questionComponentContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px;
  margin-bottom: 20px;
}
.questionComponentheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
}
.questionComponentQuestion {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
  letter-spacing: 0.3px;
  color: white;
}
.questionComponentAnswer {
  font-size: 16px;
  width: 80%;
  letter-spacing: 0.3px;
  color: white;
  padding: 5px;
  line-height: 3vh;
}
@media screen and (max-width: 920px) {
  .questionComponentQuestion {
    width: 100%;
    font-size: 15px;
  }
  .questionComponentAnswer {
    font-size: 14px;
    width: 100%;
  }
}
