.askedQuestionContainer {
  position: relative;
  padding: 30px 0;
  text-align: center;
  margin: auto;
}
.askedQuestion {
  position: relative;
  width: 70%;
  background-color: #f9fff9;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
}
.askedQuestionTitle {
  color: rgb(38, 128, 38);
  margin-bottom: 22px;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
/* #001942; black */
@media screen and (max-width: 920px) {
  .askedQuestion {
    width: 90%;
    padding: 30px 0;
  }
  .askedQuestionTitle {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
