.userFlowPanelContainer {
  display: flex;
  position: relative;
  text-align: center;
  padding: 30px 0;
  justify-content: flex-end;
  width: 100%;
}
.userFlowPanel {
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  float: right;
  gap: 20px;
  padding: 30px;
  margin-right: 50px;
  align-items: center;
}
.userFlowPanelTitle {
  font-size: 4vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  margin: 0;
  width: fit-content;
}
.userFlowPanelLine {
  border: 1px solid rgb(24, 255, 24);
  height: 2px;
  width: 70px;
  background-color: #4ef037;
  position: absolute;
  top: 60px;
  left: 45%;
}
.userFlowPanedCards {
  display: flex;
  position: relative;
  gap: 10px;
}
.userFlowPanelCard {
  flex: 1;
  background: none;
  height: 300px;
  border: none;
}
.userFlowDescriptionClass {
  text-align: center !important;
  width: 100%;
}
.UserFlowPanelNavigation {
  width: 40%;
  gap: 10px;
  display: flex;
  height: fit-content;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.customerNavigationButton {
  border-top-left-radius: 15px;
}
.captainNavigationButton {
  border-bottom-right-radius: 15px;
}
.userFlowPanelNavigationButton {
  background-color: #4ef037;
  font-size: 16px;
  letter-spacing: 0.6px;
  cursor: pointer;
  flex: 1;
  font-weight: 600;
  padding: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.UserFlowPanel {
  padding: 5px;
}
.userFlowPanedCardImg {
  height: 150px;
  width: 150px;
}
@media screen and (max-width: 1000px) {
  .userFlowPanel {
    height: fit-content;
    width: 100%;
  }
  .userFlowPanedCards {
  }
  .userFlowPanelCard {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 800px) {
  .userFlowPanel {
    height: fit-content;
    width: 100%;
  }
  .userFlowPanelLine {
    display: none;
  }
  .userFlowPanedCards {
    flex-direction: column;
  }

  .UserFlowPanelNavigation {
    width: 100%;
  }
}
