.globaConnectCities {
  position: relative;
  width: 80%;
  margin: 40px auto 20px auto;
}
.globaConnectCitiesTitle {
  font-size: 3vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  text-shadow: 0 4px 0px rgba(38, 158, 3, 0.5);
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.globalCitiesCardContainer {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.GlobaConnectCitiesCardImg {
  width: 120px !important;
  height: 120px !important;
  position: relative;
  margin: auto;
}
.globaConnectCitiesCard {
  padding: 10px;
  text-align: center;
  height: fit-content;
  align-items: center;
}
.globaConnectCitiesCardDetails {
  width: 70% !important;
  margin: auto;
}
