@media screen and (max-width: 610px) {
  .searchResultComponentserchDetails {
    flex: auto;
  }
  .searchResultComponentContainerBackground {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .searchResultComponentserchDetails {
    flex: 1;
  }
}
