.homeBackground {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.homeBackgroundImage {
  width: 100%;
  position: relative;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}
.homeBackgroundDetails {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin-bottom: 5px;
}
.homeBackgroundDetails > h2 {
  color: white !important;
  font-size: 3.5vw;
  font-family: sans-serif;
  font-weight: 600;
  text-align: start;
}
@media screen and (max-width: 900px) {
  .homeBackgroundImage {
    height: 180px;
  }
  .homeBackgroundDetails {
    width: 100%;
    top: 80%;
    left: 60%;
  }
  .homeBackgroundDetails > h2 {
    font-size: 3vh;
  }
}
